<html style="margin: auto;padding-left: 5px;padding-right: 5px;font-family: sans-serif, Arial, Helvetica;font-weight: normal;max-width: 800px;background-color: white;">


<body style="margin: auto;padding-left: 5px;padding-right: 5px;font-family: sans-serif, Arial, Helvetica;font-weight: normal;max-width: 800px;background-color: white;">
    <header style="position: relative;background-color: #bd1515;height: 70px;width: 100%;">
        <div id="project-name" style="position: absolute;right: 0;font-size: 13pt;font-weight: bold;color: white;margin-right: 20px;margin-top: 7px;">Brushed-Charts</div>
        <div id="email-object" style="color: white;position: absolute;left: 50%;top: 40%;font-size: 22pt;font-weight: 100;transform: translate(-50%);">Error Report</div>
    </header>
    <article style="margin-top: 70px;margin-left: 40px;">
        <h1 style="font-size: 20pt;margin-bottom: 0px;font-weight: 400;">{{title}}</h1>
        <h2 style="font-weight: 100;font-size: 13pt;font-style: italic;margin-top: 8px;">{{subtitle}}</h2>
        <div id="frame" style="background-color: #efefef;padding-top: 20px;padding-bottom: 20px;margin-top: 60px;margin-left: 30px;margin-right: 60px;color: rgb(79, 79, 79);">
            <p id="description" style="font-weight: bold;margin-bottom: 5px;margin-left: 20px;">{{description}}</p>
            <p id="details" style="margin-top: 8px;margin-left: 30px;">{{details}}</p>
        </div>
    </article>
    <div id="button" style="margin: auto;margin-top: 90px;width: 170px;height: 40px;background-color: #2a62b6;text-align: center;border-radius: 8px;">
        <a href="{{link}}" style="position: relative;display: block;color: white;text-decoration: none;width: 100%;height: 100%;"><span id="link-text" style="position: relative;padding-top: 12px;display: block;width: 100%;">See more</span></a>
    </div>
    <footer style="height: 30px;"></footer>
</body>
</html>