# This part correspond to the secret part of the .vscode/.env file
# So you can copy these line to .vscode/.env file.
# The rest of the .env file is not secret and can be copied from the 
# .env files in the ./env/ folder. You can found more details in the documentation
OANDA_API_TOKEN=?
PASSWORD_FOR_GPG_FILES=?
OANDA_ACCOUNT_ID=?
MAILGUN_API_KEY=?
OCI_USER_TOKEN_BRUSHED_CHARTS_APP=?