version: "3.8"
services:
  mongodb:
    image: mongo:4.4
    restart: on-failure
    container_name: mongodb
    hostname: mongodb
    volumes: 
      - /var/volumes/mongo-data/${PROFIL}:/data/db


  oanda_bigquery:
    build: ./services/oanda_bigquery
    image: eu.gcr.io/brushed-charts/oanda_bigquery:${PROFIL}-latest
    restart: on-failure
    container_name: oanda_bigquery 
    env_file: 
      - ./env/services.env
      - ./env/services.${PROFIL}.env
    volumes: 
      - type: bind
        source: /etc/brushed-charts/
        target: /etc/brushed-charts/


  oanda_fetcher:
    build: ./services/oanda_fetcher
    image: eu.gcr.io/brushed-charts/oanda_fetcher:${PROFIL}-latest
    restart: on-failure
    container_name: oanda_fetcher
    env_file: 
      - ./env/services.env
      - ./env/secrets.env
      - ./env/services.${PROFIL}.env
    volumes: 
      - type: bind
        source: /etc/brushed-charts/
        target: /etc/brushed-charts/


  oanda_history:
    build: ./services/oanda_history
    image: eu.gcr.io/brushed-charts/oanda_history:${PROFIL}-latest
    restart: on-failure
    container_name: oanda_history
    env_file: 
      - ./env/services.env
      - ./env/services.${PROFIL}.env
    volumes: 
      - type: bind
        source: /etc/brushed-charts/
        target: /etc/brushed-charts/


  oanda_watchlist:
    build: ./services/oanda_watchlist
    image: eu.gcr.io/brushed-charts/oanda_watchlist:${PROFIL}-latest
    restart: on-failure
    container_name: oanda_watchlist
    env_file: 
      - ./env/services.env
      - ./env/services.${PROFIL}.env
    volumes: 
      - type: bind
        source: /etc/brushed-charts/
        target: /etc/brushed-charts/


  oanda_clean_history:
    build: ./services/oanda_clean_history
    image: eu.gcr.io/brushed-charts/oanda_clean_history:${PROFIL}-latest
    restart: on-failure
    container_name: oanda_clean_history
    env_file: 
      - ./env/services.env
      - ./env/services.${PROFIL}.env
    volumes: 
      - type: bind
        source: /etc/brushed-charts/
        target: /etc/brushed-charts/

        
  presence_shortterm_bigquery:
    build: ./services/presence_bigquery
    image: eu.gcr.io/brushed-charts/presence_bigquery:${PROFIL}-latest
    restart: on-failure
    container_name: presence_shortterm_bigquery
    environment: 
      - BIGQUERY_TABLE_PATH_TO_MONITOR_PRESENCE=brushed-charts.oanda_${PROFIL}.price_shortterm
    env_file: 
      - ./env/services.env
      - ./env/services.${PROFIL}.env
      - ./env/presence_shortterm.env
      - ./env/secrets.env
    volumes: 
      - type: bind
        source: /etc/brushed-charts/
        target: /etc/brushed-charts/


  presence_archive_bigquery:
    build: ./services/presence_bigquery
    image: eu.gcr.io/brushed-charts/presence_bigquery:${PROFIL}-latest
    restart: on-failure
    container_name: presence_archive_bigquery
    environment: 
      - BIGQUERY_TABLE_PATH_TO_MONITOR_PRESENCE=brushed-charts.oanda_${PROFIL}.price_archive
    env_file: 
      - ./env/services.env
      - ./env/services.${PROFIL}.env
      - ./env/presence_archive.env
      - ./env/secrets.env
    volumes: 
      - type: bind
        source: /etc/brushed-charts/
        target: /etc/brushed-charts/
        
  
  oanda_graphql:
    build: ./services/oanda_graphql
    image: eu.gcr.io/brushed-charts/oanda_graphql:${PROFIL}-latest
    restart: on-failure
    container_name: oanda_graphql
    env_file: 
      - ./env/services.env
      - ./env/services.${PROFIL}.env
    volumes: 
      - type: bind
        source: /etc/brushed-charts/
        target: /etc/brushed-charts/